<nav class="navbar ">
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a href="{{ path('home') }}">Accueil</a></li> 
			<li class="nav-item"><a href="{{ path('products') }}">Produits</a></li> 
			<li class="nav-item"><a href="{{ path('brands') }}">Marques</a></li> 
			<li class="nav-item"><a href="{{ path('packs') }}">Packs</a></li> 
		</ul>
	</div>
</nav>