{% extends 'base.html.twig' %}

{% block title %}Ajout d'un produit{% endblock %}

{% block body %}
        <div>
            Ajout d'un produit
        </div>
		<div>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
{% endblock %}
