{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div>
            page d'accueil
        </div>
        <div>
            {{ message }}
        </div>
{% endblock %}
